@import "tailwindcss";

@theme {
  --font-heading: "Italiana", sans-serif;
  --font-parag: "Montserrat", sans-serif;

  --color-beige: rgba(242, 237, 228);
  --color-burgundy: rgba(47, 20, 19)
}

@layer base{
  body{
    background-color: var(--color-beige);
    color: var(--color-burgundy)
  } h1{
    font-family: var(--font-heading);
    font-size: 3em;
  } h2 {
    font-family: var(--font-heading);
    font-size: 1.5em;
  } h3 {
    font-family: var(--font-parag);
    font-size: 1.2em;
    margin-top: 16px;
    margin-bottom: 4px;
    text-decoration: underline;
  } p {
    font-family: var(--font-parag);
    font-size: 1,5em;
    max-width: 800px;
  } input {
    font-family: var(--font-parag);
    border-bottom: 1px solid black;
    padding: 0.5em 0.5em;
  } button {
    font-family: var(--font-parag);
  }
}

@layer components {
  .card{
    background-color: var(--color-burgundy);
    color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 240px;
    height: 240px;
    border-radius: 16px;
    flex-grow: none;
    padding-bottom: 8px;
    cursor: pointer;
  }
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-beige);
    filter: drop-shadow(4px 4px 8px rgba(47, 20, 19, 0.3));
    border-radius: 16px;
    text-wrap: wrap;
  }
}
